---
http_interactions:
- request:
    method: post
    uri: https://payment.paytrail.com/api-payment/create
    body:
      encoding: UTF-8
      string: '{"orderNumber":"1234","currency":"EUR","locale":"en_US","urlSet":{"success":"http://www.example.org/success","failure":"http://www.example.org/failure","pending":"http://www.example.org/pending","notification":"http://www.example.org/notification"},"price":100.54}'
    headers:
      Content-Type:
      - application/json
      X-Verkkomaksut-Api-Version:
      - '1'
      Authorization:
      - Basic MTM0NjY6NnBLRjRqa3Y5N3ptcUJKM1pMOGdVdzVEZlQyTk1R
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"orderNumber":"1234","token":"MgCPiELkAGyBY57RxMT9tjMzd2mSJpGgPPqqPJLQp9tvZeHsXRLaEWYz4DWtAsTH","url":"https:\/\/payment.paytrail.com\/payment\/load\/token\/MgCPiELkAGyBY57RxMT9tjMzd2mSJpGgPPqqPJLQp9tvZeHsXRLaEWYz4DWtAsTH"}'
  recorded_at: Tue, 24 Oct 2017 08:53:30 GMT
recorded_with: VCR 3.0.3
